# Ignoring specific files
/filenames.txt

# Ignoring directories
/database
/pdf/
/Notes
/ChatGPT-C++
/pdf_vector_embedding/
/summary
/Scripts
/Lib
/pdf_merge

# Ignoring all .csv, .txt, and .md files
/*.csv
/*.txt
/*.md

# Exclude requiremenets.txt from being ignored
!requirements.txt