fitz~=0.0.1.dev2
pymupdf
natsort~=8.4.0
ollama~=0.1.9
openai~=1.23.6
pandas~=2.2.2
pdf2image~=1.17.0
pypdf~=4.2.0
pyperclip~=1.8.2
pytesseract~=0.3.10
tiktoken~=0.6.0

pathlib~=1.0.1
pillow~=10.3.0
wmi~=1.5.1